@media (max-width: 1200px) {
    .container {
        padding-right: 100px;
        padding-left: 100px;
    }
}
@media (max-width: 992px) {
    .container {
        padding-right: 125px;
        padding-left: 125px;
    }

    .services--flex {
        flex: 0 1 50%;
        max-width: 50%;
    }

    .team--flex {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .home--flex {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .about--flex {
        flex: 0 1 100%;
        max-width: 100%;
    }
    .features--flex {
        flex: 0 1 100%;
        max-width: 100%;
    }

    .contact-form {
        flex: 0 1 100%;
        max-width: 100%;
    }

    .map {
        flex: 0 1 100%;
        max-width: 100%;
    }

    .pricing--flex {
        flex: 0 1 50%;
        max-width: 50%;
    }

    .testimonials--flex {
        flex: 0 1 50%;
        max-width: 50%;
    }
}
@media (max-width: 768px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .c--block-flex50 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .block-header__title {
        font-size: 22px;
        line-height: 36px;
    }

    .team__item {
        display: flex;
        flex-direction: column;
    }
    .team__img {
        max-width: 100%;
    }

    .services--flex {
        flex: 0 1 50%;
        max-width: 50%;
    }

    .team--flex {
        flex: 0 1 100%;
        max-width: 100%;
    }

    .wrapper-footer {
        padding-top: 60px;
    }

    .pricing--flex {
        flex: 0 1 100%;
        max-width: 100%;
    }

    .testimonials--flex {
        flex: 0 1 100%;
        max-width: 100%;
    }
}
@media (max-width: 468px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .wrapper-footer {
        padding-top: 60px;
    }

    .block-header {
        padding-left: 10px;
        padding-right: 10px;
    }
    .services--flex {
        flex: 0 1 100%;
        max-width: 100%;
    }

    .feature__item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
